body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
}

h1 {
  font-size: 40pt;
  display: flex;
  color: white;
  justify-content: center;
}

.logo {
  height: 105pt;
  margin-left: 20pt;
  margin-top: 10pt;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  color: black;
}

.navBar {
  background-color: darkslateblue;
  height: 140pt;
}

.title {
  display: flex;
  color: white;
  justify-content: center;

}
